#drillInfoForm input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#drillInfoForm input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
  
#drillInfoForm input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
#drillInfoForm input[type=submit]:hover {
    background-color: #45a049;
}
  
.drillInfoForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
  
#calcResult1 {
    font-weight : bold;
    font-size : 2em;
}

  
.addScheduleButton{
    width: 100%;
    background-color: #489cc6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addScheduleButton:hover{
    background-color: #2d93c7;
}

#drillScheduleCalendar{
  max-width: 1200px;
  margin: 0 auto;
}

.fc-event-title.fc-sticky{
    white-space: normal;
}

th.fc-col-header-cell.fc-day.fc-day-sun{
    color: red;
}

th.fc-col-header-cell.fc-day.fc-day-sat{
    color: blue;
}